<h1>realTimeMessages</h1>
<form>
<label for="user">user</label><input id="inputUser" name="user" type="email">
<label for="message">message</label><input id="inputMessages" name="message" type="text">
<button type="submit" id="btnEnviar3">enviar</button>
</form>
<h3>mensajesActuales</h3>
<div id="listadoMensajes">
    {{#if hayMensajes}}
    <ul>
        {{#each mensajes}}
        <li>user: {{this.user}} | message: {{this.message}}
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>no hay mensajes para mostrar</p>
    {{/if}}
</div>

<a {{#if hasPrevPage}} href="/views/realTimeMessages/?limit={{limit}}&page={{prevPage}}" {{/if}}>Prev</a>
[{{ page }}]
<a {{#if hasNextPage}} href="/views/realTimeMessages/?limit={{limit}}&page={{nextPage}}" {{/if}}>Next</a><br>
Página: <input id="input" type="text"> <button onclick="irAPag({{limit}})">ir</button>


<script>
  function irAPag(limit) {
    const pagDeseada = document.querySelector('#input').value || 1
    window.location = `/views/realTimeMessages/?limit=${limit}&page=${pagDeseada}`
  }
</script>


<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"
    integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/cargaMessages.js"></script>